.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #ffffff; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"); */
    /* background-color: var(--color-bg); */
    /* background-size: cover; */
    /* background-blend-mode: darken; */
    font-family: "Josefin Sans", sans-serif;
}

.loginTitle {
    font-size: 50px;
    font-family: 'Poppins', sans-serif !important;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #050320;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.loginButton:hover {
    background-color: rgb(11, 3, 122);
}

@media screen and (max-width: 480px) {

    /* Adjust styles for screens smaller than 480px */
    .loginTitle {
        font-size: 40px;
    }

    .loginInput {
        font-size: 15px;
        padding: 15px;
        border-radius: 8px;
    }

    .loginButton {
        font-size: 16px;
        padding: 20px;
        border-radius: 12px;
    }

    .login {
        background-position: right;
    }
}