.logout-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #85769f66;
    color: black;
}

.logout-message {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.logout-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.logout-btn.logout {
    background-color: #ea0606;
}

.logout-btn.cancel {
    background-color: rgb(99, 60, 99);
}

.logout-btn:hover {
    color: #fff;
    background-color: #333;
}