.dashboard {
    display: flex;
    background-color: var(--color-bg);
    color: rgb(156, 156, 156);
}

.dashboard .after-sidebar {
    flex: 6;
}

.dashboard .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
}

.dashboard .table {
    background-color: #111;
}

.dashboard .table .tableCell {
    color: gray;
}

.dashboard .navbar {
    color: #999;
    border-color: #333;
}

.dashboard .navbar .search {
    border-color: gray;
}

.dashboard .sidebar {
    background-color: #111;
    border-color: #333;
}

.dashboard .sidebar .top .logo {
    color: #999;
}

.dashboard .sidebar hr {
    border-color: #333;
}

.dashboard .sidebar ul li:hover {
    background-color: #333;
}

.dashboard .datatable .datagrid {
    color: gray;
    border: none;
}

.dashboard .datatable .datagrid .viewButton,
.dashboard .datatable .datagrid .deleteButton,
.dashboard .datatable .datagrid .cellWithStatus {
    color: gray;
    border: none;
}

/* input {
    background-color: transparent;
} */